// Mixins

.em(@target, @context:16) {
    font-size: (@target / @context) * 1em;
}

@themeColor: #22A7F0;
@headerColor: #C5EFF7;
@red: #E87E04;

body {
    background-color:#000;
    font-family:"museo","ff-dagny-web-pro", arial !important;

}


.header {
    border-top: (20 / 16)*1em solid @themeColor;
    padding:(25 / 16)*1em 0 0 0;

    .blog-title {
        .em(54);
        font-weight:900;
        margin:(1 / 16)*1em 0 0 0;
        padding:0;
        color: #2C3E50;
        font-family: "museo","ff-dagny-web-pro", "arial";

    }

    .menu {
        padding:0;
        margin:0;
        float: right;
        list-style:none;
        font-weight: 200;
        .em(38);


        li {
            float: left;
            margin-left: (10 / 16)*1em;

            a {
                display: inline-block;
                width: (30 / 16)*1em;
                height: (30 / 16)*1em;
                background-color: @red;
                color: #fff;
                text-align:center;
                border-radius: (15 / 16)*1em;
                padding-top: (4 / 16)*1em
            }
        }
    }
}

.content {
    margin: (35 / 16)*1em 0;
}

article {
    .em(22);
}
